




.game{

    text-align: center;
    font-family: system-ui;
    margin:auto;
    font-weight: 650;

}


.title{

    background: white;
    padding: 7px ;
    margin: 7px 0;
    border-radius: 25px 20px 20px 15px;
    width: 460px;
    color:red;
}

span{
    color:black;


}

.square{
    width: 75px;
    height: 75px;
    background: white;
   
    margin: 2px;
    font-size: 50px;
    border-radius: 25px 20px 20px 15px;
  


}


.alignH {
    display: flex;
}


.reset{
    background: white;
   
    padding: 7px ;
    margin: 7px 0;
    border-radius: 25px 20px 20px 15px;
    width: 208px;
    color: white;
     
}


body{


    background-image: url(téléchargement.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}







