




.game{
 
    text-align: center;
    font-family: system-ui;
    color:aliceblue;
    margin:auto;
    font-weight: 650;

}


.title{

    background:white;
    padding: 7px ;
    margin: 7px 0;
    border-radius: 25px 20px 20px 15px;
    width: 440px;
    color:red;
}

span{
    color:black;


}

.square{
    width: 150px;
    height: 150px;
    background:white;
   
    margin: 2px;
    font-size: 110px;
    border-radius: 25px 20px 20px 15px;
  


}


.alignH {
    display: flex;
}


.reset{
    background:white;
   
    padding: 7px ;
    margin: 7px 0;
    border-radius: 25px 20px 20px 15px;
    width: 208px;
    color:black;
     
}



body{


    background-image: url(téléchargement.jpeg);
}
